#decorated_todo_lists
  - base_todo_lists.each do |list|
    %h3
      = list.name
      = link_to image_tag("cancel_button.png"), todo_list_path(list), :method => :delete, :confirm => "are you sure?" 
    %ul
      - list.base_todo_items.each do |item|
        %li= shorten item.content
