img {
  border: none; }

#left {
  float: left;
  width: 450px;
  height: 600px;
  overflow: scroll; }

#center {
  float: left;
  margin: 0 0 0 50px;
  width: 400px;
  height: 600px; }
  #center #backlog_button img {
    margin: 200px 0 0 0; }

#right {
  float: left;
  margin: 0 0 0 50px;
  width: 450px;
  height: 600px;
  overflow: scroll; }
