<h1>Listing base_todo_items</h1>

<table>
  <tr>
  </tr>

<% @base_todo_items.each do |base_todo_item| %>
  <tr>
    <td><%= link_to 'Show', base_todo_item %></td>
    <td><%= link_to 'Edit', edit_base_todo_item_path(base_todo_item) %></td>
    <td><%= link_to 'Destroy', base_todo_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New base_todo_item', new_base_todo_item_path %>