<h1>Listing base_todo_lists</h1>

<table>
  <tr>
  </tr>

<% @base_todo_lists.each do |base_todo_list| %>
  <tr>
    <td><%= link_to 'Show', base_todo_list %></td>
    <td><%= link_to 'Edit', edit_base_todo_list_path(base_todo_list) %></td>
    <td><%= link_to 'Destroy', base_todo_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New base_todo_list', new_base_todo_list_path %>